body{
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.divs {
    width: 16px;
    height: 16px;
    border: 1px solid red;
}